/* about_us html */
.section-form{
display: flex;
justify-content: center;
align-items: center;

}
legend{
padding: 10px;
}
.bgpic{
position: absolute;
}
.box-form{
position: relative;
}                                     
.form-cont{
position: relative ;
display: flex;
justify-content: center;
align-items: center;
background: rgba(192, 99, 223, 0.493);
backdrop-filter: blur(15px);
border-radius: 10px;
border: none;
}
.for-form{
position: relative;
width: 100%;
height:100%;
padding:40px;
}
.for-form .inputbox{
width:100%;
margin-top: 20px;
border-radius: 5px;
}
.for-form input, .for-form select{
width:100%;
background-color: rgba(255, 255, 255, 0.26);
border: none;
border-radius: 5px;
}


.box-form .square{
position: absolute;
background: rgba(192, 99, 223, 0.493);
backdrop-filter: blur(15px);
border-radius: 10px;

animation: animate-square 5s  infinite ease-in-out;
animation-delay: calc(-1s * var(--i));
}
@keyframes animate-square{
0%,100%{
    transform:translateY(-10px);
}
50%{
    transform: translateY(10px);
}

}

.box-form .square:nth-child(1)
{
top: -50px;
right:-60px;
width: 100px;
height: 100px;
}
.box-form .square:nth-child(2)
{
top: 150px;
left:-100px;
width: 120px;
height: 120px;
z-index:2
}
.box-form .square:nth-child(3)
{
bottom: 50px;
left:-60px;
width: 80px;
height: 80px;
z-index:-1;
}
.box-form .square:nth-child(4)
{
top: 450px;
right:-80px;
width: 50px;
height: 50px;
z-index:2;
}

.form_btn{
background-color:#6e5dd1;
font-size: 12px;
padding: 20px;
border-radius: 5px;
transition-duration: 0.3s;
font-family: 'Montserrat', sans-serif;
}
.form_btn:hover{
background-color:transparent;
border: 2px solid rgb(105, 86, 218);
color: white;
}

.checkbox, .radio{
float: left;
}
fieldset{
display: block;
}

select{
font-family: 'Montserrat', sans-serif;
}
select:hover {
    border-color:  rgb(128, 97, 236);
} 

select:focus { 
border-color: #aaa; 
box-shadow: 0 0 1px 3px rgb(105, 86, 218);
/* box-shadow: 0 0 0 3px -moz-mac-focusring;  */
color: #000000;
/* outline: none;  */
} 
input::placeholder{
opacity: 0.5;
}

#frame{
    width:100%;
    padding-bottom: .75rem;
}


                                                            /* NOT SURE ILL NEED THIS */

.contact-form{
    margin-left: 10%;
    width: 80%;
    padding: 20px;
    background-color: rgba(192, 99, 223, 0.493);
}
.wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px; 
    grid-gap: 20px;
    font-family: 'Montserrat', sans-serif;
}
.wrapper .box{
    width: 100%;
    position: relative;
    padding: 20px;
}

.wrapper .box input{
    width:70%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(94, 25, 151);
    transition: .3s linear;
}
.wrapper .box input:focus{
    padding: 20px 10px;
    background-color: rgb(105, 86, 218);
    margin-top: 10px;
}

.wrapper .box label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
}
.wrapper .box input:focus ~ label,
.wrapper .box input:valid~ label{
    padding: 0;
}

.wrapper .box textarea{
    width:70%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(94, 25, 151);
    transition: .3s linear;
}
.wrapper .box textarea:focus{
    padding: 20px 10px;
    background-color: rgb(105, 86, 218);
    margin-top: 10px;
}
.wrapper .box textarea:focus ~ label,
.wrapper .box textarea:valid ~ label{
    padding: 0;
}

/*                                       SCROLL BAR                                    */
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 7px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.199); 
    border-radius: 7px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff77; 
  }