
.h_1{
    position: relative;
    width: 100%;
    display: block;
}

label{
    position: relative;
    color: rgb(203, 203, 224);
    font-family: 'Montserrat', sans-serif;
    margin:auto;
}

.login, .notif{
    position: relative;
    padding: 60px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    width: 50%;
    display: block;
    margin: auto;
    /* flex-direction: column; */
    /* gap: 30px; */
    
}

.login_form, .notif_form{
    position: relative;
    margin-top: 100px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
}

#result{
    margin-left: auto;
    text-align: center;
}

.login .inputbox{
    position:relative ;
    margin-top: 10px;
}
.login .inputbox input, .n-inputbox input{
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    position: relative;
    width: 100%;
    padding: 15px 7px;
    outline: none;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}
.login .inputbox input#btn{
     background-color: rgb(160, 89, 227);
     font-family: 'Montserrat', sans-serif;
     color: aliceblue;
}

                                                        /* LIKE BUTTON */


.like_container{
    position: absolute;
    top: 70%;
    left: 50%;

    transform: translate(-50%, -50%);
    width: 110px;
    height: 110px;

}

.btn{
    position: absolute;
    background: transparent;
    border: none;
    margin: auto;
    font-size: 88px;
    transform: translate(10%, 10%);
    color: grey;
}

.circle{
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: aliceblue;
    z-index: -1;
}

#mouse_trail{
    position: absolute;
    left: 0;
    top:0;
    /* width: 100%;
    height: 100%; */
}

span{
    pointer-events: auto;
}

                                                /* CART */

.cart_cont{
    position: absolute;
    top: 90%;
    left: 50%;

    transform: translate(-50%, -50%);
    width: 110px;
    height: 110px;
}

 #cart{
    margin-top: 70%;
    text-align: center;
}

.cart_btn{
    position: absolute;
    background: transparent;
    border: none;
    margin: auto;
    font-size: 88px;
    transform: translate(10%, 10%);
    color: grey;
}

                                            /* CAPTCHA */

#captcha-cont{
    position: relative;
    padding: 60px;
    margin-top: 10%;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    width: 50%;
    margin-left: 20%;
    display: none;
}

.captcha-cont .inputbox{
    position:relative ;
    margin-top: 10px;
}

.captcha-cont .inputbox input{
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    position: relative;
    width: 100%;
    padding: 15px 7px;
    outline: none;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}
#msg{
    color: crimson;
}